<div class="col-md-6 col-md-offset-6">

    <div *ngFor="let hero of heroes" class="mt-4">
        <mdb-card>
          <mdb-card-header class="mdb-color lighten-2 white-text">
            <h4>{{ hero.name | titlecase }}</h4>
          </mdb-card-header>
          <mdb-card-body>
            <mdb-card-title>Id: {{ hero.id }}</mdb-card-title>
            <mdb-card-text>Name: {{ hero.name | titlecase }}</mdb-card-text>
            <a routerLink="/hero/detail/{{ hero.id }}" mdbBtn color="blue-grey" class="waves-light " mdbWavesEffect>Edit Hero</a>
          </mdb-card-body>
        </mdb-card>
    </div>

</div>
