<div class="container">
	<div class="row">

		<div (mouseenter)="mouseHover(hero)" *ngFor="let hero of heroes" class="col-md-3 mt-4">
			<mdb-card>
			  <mdb-card-header [class.primary-color]="selectedHero === hero" [class.secondary-color]="selectedHero !== hero" class="white-text">
			    <h4>{{ hero.name }}</h4>
			  </mdb-card-header>
			  <mdb-card-body>
			    <mdb-card-title>Id: {{ hero.id }}</mdb-card-title>
			    <mdb-card-text>Name: {{ hero.name }}</mdb-card-text>
			    <a mdbBtn routerLink="/hero/detail/{{ hero.id }}" class="waves-light" [class.btn-primary]="selectedHero === hero" [class.btn-secondary]="selectedHero !== hero" mdbWavesEffect>Edit Hero</a>
			  </mdb-card-body>
			</mdb-card>
		</div>

	</div>
</div>
